@font-face {
    font-family: 'MyFont';
    src: url(../CSS/Myfont.otf);
}

@font-face {
    font-family: 'MyFont2';
    src: url(../CSS/Myfont2.otf);
}

#game_menu{
    font-family:"MyFont","Amatic SC", 'Open Sans', sans-serif ;
    font-size: 70px;
}


/* バックビデオ */
section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
   
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100px;
    background: url('../img/G\'s\ ACADEMY\ -CM-_Trim.mp4') no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.55 ;
    overflow: visible;
  }

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
  }

#msg {
    font-family:"MyFont","Amatic SC", 'Open Sans', sans-serif ;
    position: absolute;
    margin:40px auto;
    width:auto;
    left: 30px;
    padding:20px 80px;
    border:1px solid #ddd;
    background-color: #efefef;;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px; 

}

#f1 {
    
    position: absolute;
    margin: 200px;
    border: 0;
}

#choice1 {
    font-size: 30px;
    margin-right: 250px;
}

#choice2 {
    font-size: 30px;
}

button{
    font-family:"MyFont","Amatic SC", 'Open Sans', sans-serif ;
    border: 0;
}
